mixin button(params)
    - var size = params.size || 'normal';
    - var theme = params.theme || 'primary';
    - var type = params.type || 'button';
    - var text = params.text || ''
    - var ariaLabel = params.ariaLabel;

    button(class=`btn btn--${size} btn--${theme}` aria-label=ariaLabel type=type)&attributes(attributes) !{text}
        block
